@{
    ViewBag.Title = "Toplantı Bilgisi";
}
<main class="text-center">
    <h1 class="h4">Toplantı Özeti</h1>
    <p>Toplantıya 20 kişi katılıyor</p>
    <a class="btn btn-sm btn-outline-primary" asp-contoller="Meeting" asp-action="list"> Katılımcıları Listele</a>


</main>

